#set ( $d = "$")
var app = angular.module('app', [ 'ngRoute', 'ui.bootstrap' ]);

app.config(['${d}routeProvider',
	function(${d}routeProvider) {
		$routeProvider
#foreach ($route in $routes.items)
			.when('/${route.url}', {
				templateUrl: 'views/${route.url}.html',
				controller: '${route.controller} as ${route.controllerVar}'
			})
#end
			.otherwise({
				redirectTo: '/${routes.defaultRouteUrl}'
			});
}]);

app.controller('IngredientListCtrl', function (${d}log, ${d}uibModal, ${d}http) {
	
  var self = this;

  this.ingredients = [];
  
  this.selectedIngredient = null;
  this.selectIngredient = function(ingredient) {
	  this.selectedIngredient = ingredient;
  }
  
  this.loadIngredients = function() {
	  ${d}http.get('/rest/ingredients').then(function(resp) {
		  self.ingredients = resp.data;
		  self.selectedIngredient = null;
	  });
  };
  
  this.addIngredient = function() {
	  this.openIngredientModal(true, null);
  };
  
  this.editIngredient = function() {
	  this.openIngredientModal(false, angular.copy(this.selectedIngredient));
  };
  
  this.openIngredientModal = function(isCreateMode, ingredient) {
	  var modalInstance = ${d}uibModal.open({
	      animation: false,
	      templateUrl: 'IngredientModalContent.html',
	      controller: 'IngredientEditCtrl as ingredientEditCtrl',
	      // size: { '', 'lg', 'sm' }
	      resolve: {
	    	  isCreateMode: isCreateMode,
	    	  ingredient: ingredient
	      }
	    });

	    modalInstance.result.then(function (selectedItem) {
	    	${d}http.post('/rest/ingredients', selectedItem).then(function(resp) {
	    		${d}log.info('Save ok ' + selectedItem);
	    		self.loadIngredients();
	    	}, function(resp) {
	    		${d}log.error('Save error ' + resp);
	    	});
	    }, function () {
	    	// ${d}log.info('Modal dismissed at: ' + new Date());
	    });
  };
  
  this.deleteIngredient = function() {
	  alert("delete ingredient");
  };
  
  this.loadIngredients();
  
});

app.controller('IngredientEditCtrl', function (${d}modalInstance, isCreateMode, ingredient) {
	this.title = isCreateMode ? "Ajouter Ingredient" : "Editer Ingredient";
	this.ingredient = isCreateMode ? {} : ingredient;
	
	this.ok = function () {
		// TODO: validation
		${d}modalInstance.close(this.ingredient);
	};

	this.cancel = function () {
		${d}modalInstance.dismiss('cancel');
	};
});

